footer{
    background-color: $secondary-bg;
    padding: 3rem 0;
    h1{
        font-size: 2.2rem;
        color: $primary-color;
        margin-bottom: 2rem;
    }
    .footer__contact{
        line-height: 2rem;
    }

}