footer 
    .container 
        .footer__title 
            h1.fw-bold MyTour.VN 
        .footer__contact 
            .row.g-4
                .col-12.col-lg-4
                    span.fw-bold Công ty cổ phần du lịch Việt Nam VNTravel

                    p Tổng đài chăm sóc: 1900 2083

                    p Email: hotro@mytour.vn

                    p Văn phòng Hà Nội: Tầng 11, Tòa Peakview, 36 Hoàng Cầu, Đống Đa

                    p Văn phòng HCM: Tầng 3, Tòa nhà ACM, 96 Cao Thắng, Quận 3
                .col-12.col-lg-4
                    span.fw-bold Công ty cổ phần du lịch Việt Nam VNTravel

                    p Tổng đài chăm sóc: 1900 2083

                    p Email: hotro@mytour.vn

                    p Văn phòng Hà Nội: Tầng 11, Tòa Peakview, 36 Hoàng Cầu, Đống Đa

                    p Văn phòng HCM: Tầng 3, Tòa nhà ACM, 96 Cao Thắng, Quận 3
                .col-12.col-lg-4
                    span.fw-bold Công ty cổ phần du lịch Việt Nam VNTravel

                    p Tổng đài chăm sóc: 1900 2083

                    p Email: hotro@mytour.vn

                    p Văn phòng Hà Nội: Tầng 11, Tòa Peakview, 36 Hoàng Cầu, Đống Đa

                    p Văn phòng HCM: Tầng 3, Tòa nhà ACM, 96 Cao Thắng, Quận 3
