header.position-fixed
    .container 
        .header-top.d-flex.justify-content-between.align-items-center
            .header__logo 
                img(src="https://storage.googleapis.com/tripi-assets/mytour/icons/icon_logo_mytour_red_medium.svg", alt="logo")
            .header__nav
                ul.d-flex.justify-content-end.align-items-center
                    li.d-flex.align-items-center.d-none.d-xl-block
                        a(href="#") Ưu đãi
                    li.d-flex.align-items-center.d-none.d-xl-block
                        a(href="#") Giới thiệu nhận quà
                    li.d-flex.align-items-center.d-none.d-xl-block
                        a(href="#") Hợp tác với chúng tôi
                    li.d-flex.align-items-center.d-none.d-xl-block
                        a(href="#") Khách hàng và doanh nghiệp
                    li
                        button.fw-bold.btn-login Đăng nhập
                    li 
                        button.fw-bold.btn-logout Đăng ký
                    .header__menu__mobile.d-xl-none.d-block 
                        i.fa-solid.fa-bars
        .header-bottom.d-flex.align-items-center    
            ul.fw-bold.d-flex.align-items-center 
                li Khách sạn
                li Vé máy bay
                    span plus
                li Nhà hàng
                li Thương hiệu

    