*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: unset;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

html {
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

header {
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
header .header-top {
  height: 56px;
}
header .header-top .header__nav li {
  cursor: pointer;
  padding: 10px 8px;
}
header .header-top .header__nav li button.btn-login {
  width: 104px;
  height: 40px;
  border-radius: 8px;
  color: #fff;
  background-color: #FF3366;
  border: 2px solid #FF3366;
}
header .header-top .header__nav li button.btn-logout {
  width: 104px;
  height: 40px;
  border-radius: 8px;
  color: #FF3366;
  background-color: #fff;
  border: 2px solid #FF3366;
}
header .header-top .header__nav .header__menu__mobile {
  font-size: 2rem;
  padding-left: 1rem;
}
header .header-bottom li {
  padding: 10px 20px 15px 0px;
  cursor: pointer;
}
header .header-bottom li:hover {
  color: #FF3366;
}
header .header-bottom li span {
  font-size: 10px;
  padding: 3px 3px;
  background-color: #FF3366;
  color: #fff;
  margin-left: 2px;
  border-radius: 10px;
}

.booking .banner .booking__box {
  max-width: 1188px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 15px;
}
.booking .banner .booking__box .box__nav {
  font-weight: 600;
  border-bottom: 1px solid #EDF2F7;
}
.booking .banner .booking__box .box__nav li {
  padding: 1.2rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.booking .banner .booking__box .box__nav li:nth-child(1) {
  color: #FF3366;
  border-bottom: 3px solid #FF3366;
}
.booking .banner .booking__box .box__nav li i {
  margin-right: 8px;
}
.booking .banner .booking__box .box__main {
  padding: 1.3rem;
}
.booking .banner .booking__box .box__main .box__main__item {
  border-left: 1px solid #c8cacc;
}
.booking .banner .booking__box .box__main .box__main__item:nth-child(3) {
  padding-left: 1rem;
}
.booking .banner .booking__box .box__main label {
  font-size: 0.95rem;
  padding-bottom: 0.5rem;
  opacity: 0.8;
  font-weight: 600;
}
.booking .banner .booking__box .box__main input {
  font-weight: 600;
}
.booking .banner .booking__box .box__main .item__col {
  padding: 0 1.2rem;
}
.booking .banner .booking__box .box__main .item__col:nth-child(2) {
  border: 1px solid #EDF2F7;
  padding: 0.6rem;
  border-radius: 50%;
}
.booking .banner .booking__box .box__main .item__col i {
  font-size: 0.7rem;
}
.booking .banner .booking__box .box__main span {
  font-size: 0.95rem;
  opacity: 0.8;
}
.booking .banner .booking__box .box__main p {
  padding-top: 1rem;
}
.booking .banner .booking__box .box__main button {
  width: 104px;
  height: 40px;
  border-radius: 8px;
  color: #fff;
  background-color: #FF3366;
  border: 2px solid #FF3366;
}

.flashsale {
  background-color: #FFF5F7;
  padding-top: 2rem;
  padding-bottom: 100px;
}
.flashsale .flashsale__top {
  padding: 1.5rem;
}
.flashsale .flashsale__top img {
  width: 198px;
  height: 44px;
}
.flashsale .flashsale__top .flashsale__time {
  margin-top: 1rem;
}
.flashsale .flashsale__top .flashsale__time .box__time {
  margin-left: 1rem;
  font-weight: bold;
}
.flashsale .flashsale__top .flashsale__time .box__time .time__item {
  width: 22px;
  height: 20px;
  font-size: 12px;
  color: #fff;
  background-color: #FF3366;
  border-radius: 3px;
}
.flashsale .flashsale__top .flashsale__time .box__time span {
  margin: 0 0.3rem;
  color: #FF3366;
}
.card__item {
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.card__item .card__item__img {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.card__item .card__item__img img {
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card__item .card__item__img img:hover {
  transform: scale(1.3);
}
.card__item .card__item__desc {
  padding: 1rem;
}
.card__item .card__item__desc img {
  height: 1rem;
  padding-right: 0.2rem;
}
.card__item .card__item__desc .desc__title {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  line-height: 1.5rem;
}
.card__item .card__item__desc .desc__title:hover {
  color: #FF3366;
}
.card__item .card__item__desc .desc__rate {
  font-size: 0.9rem;
  padding: 0.5rem 0;
}
.card__item .card__item__desc .desc__area {
  padding: 0.9rem 0;
}
.card__item .card__item__desc .desc__area span {
  background-color: rgba(0, 182, 143, 0.1);
  color: #00B6F3;
  padding: 0 0.5rem;
  border-radius: 5px;
}
.card__item .card__item__desc .desc__area i {
  margin-right: 0.5rem;
}
.card__item .card__item__desc .desc__cmt {
  font-size: 0.9rem;
  padding: 0.5rem 0 1rem 0;
  font-style: italic;
}
.card__item .card__item__desc .desc__cmt i {
  margin-right: 0.5rem;
  color: rgb(255, 188, 57);
}
.card__item .card__item__desc .desc__price {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #FF3366;
}

.explore {
  background-color: rgba(0, 182, 143, 0.1);
  padding: 5rem 1rem 10rem 1rem;
}
.explore .explore__title h1 {
  font-size: 2rem;
}
.explore .explore__muibox {
  margin: 1rem 0rem;
}
.explore .explore__muibox .muibox__item {
  padding: 0.5rem 1rem;
  border: 1px solid rgb(255, 188, 57);
  border-radius: 100px;
  margin-right: 1rem;
  background-color: #fff;
}
.explore .explore__muibox .muibox__item:nth-child(1) {
  background-color: #4A5568;
  color: #fff;
}
.explore .explore__btn {
  margin-top: 2rem;
}
.explore .explore__btn button {
  width: 104px;
  height: 40px;
  border-radius: 8px;
  color: #FF3366;
  background-color: #fff;
  border: 2px solid #FF3366;
}

.contact {
  background-color: #FF3366;
  height: 400px;
}
.contact .contact__info {
  padding-top: 100px;
  color: white;
}
.contact .contact__info .contact__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact .contact__info .contact__desc p {
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.contact .img__app {
  top: -40px;
  right: 60px;
}

footer {
  background-color: rgba(0, 182, 143, 0.1);
  padding: 3rem 0;
}
footer h1 {
  font-size: 2.2rem;
  color: #FF3366;
  margin-bottom: 2rem;
}
footer .footer__contact {
  line-height: 2rem;
}

/*# sourceMappingURL=main.css.map */
