.booking
    .banner.position-relative.fw-bold
        img(src="../../assets/image/banner1.jpg", alt="nhatrang_resort")
        .booking__box.position-absolute.top-50.start-50.translate-middle.w-100.d-none.d-xl-block.mx-auto
            .box__nav.d-flex.justify-content-center.align-items-center
                ul.d-flex
                    li 
                        i.fa-solid.fa-house
                        span Khách Sạn
                    li
                        i.fa-solid.fa-plane
                        span Vé máy bay
                    li
                        i.fa-solid.fa-hotel
                        span Biệt thự
            .box__main.d-flex.justify-content-between.align-items-center.w-100
                .box__main__item.d-flex.flex-column
                    label Địa điểm 
                    input(type="text" placeholder="Thành phố, khách sạn, điểm đến").fw-bold
                .box__main__item.d-flex.justify-content-between.align-items-center
                    .item__col
                        span Ngày đến
                        p T2, 22 tháng 7
                    .item__col
                        span 1
                        i.fa-solid.fa-moon
                    .item__col
                        span Ngày đến
                        p T3, 25 tháng 7
                .box__main__item.d-flex.flex-column
                    span Số phòng, số khách
                    p 1 phòng, 2 người lớn, 0 trẻ em
                .box__main__item.d-flex.flex-column
                    button 
                        i.fa-solid.fa-magnifying-glass
            