.contact.position-relative
    .container 
        .contact__info.d-flex.flex-column.justify-content-center.align-items.center
            .contact__title 
                h1.fw-bold Tải ứng dụng tại MyTour.vn
            .contact__desc
                ul 
                    li 
                        p Đặt vé máy bay, khách sạn hạng sang
                    li.d-flex 
                        i.fa-regular.fa-square-check
                        p Giá tốt hơn so với đặt phòng trực tiếp tại khách sạn 
                    li.d-flex 
                        i.fa-regular.fa-square-check
                        p Nhhân viên chăm sóc, tư vấn nhiều kinh nghiệm 
                    li.d-flex 
                        i.fa-regular.fa-square-check
                        p Hơn 5000 khách sạn tại Việt Nam 
                    li.d-flex 
                        i.fa-regular.fa-square-check
                        p Nhiều chương trình khuyến mãi và tích điểm
                    li.d-flex 
                        i.fa-regular.fa-square-check
                        p Thanh toán đa dạng dễ dàng
        .img__app.position-absolute.d-lg-block.d-none
            img(src="https://storage.googleapis.com/public-tripi/mytour-web/app_mytour_banner.png", alt="")
